---
- name: Set Spinnaker version in Halyard
  ansible.builtin.command: >-
    /usr/local/bin/hal config version edit --version {{ spinnaker_version }}

- name: Configure Spinnaker timezone
  ansible.builtin.command: >-
    /usr/local/bin/hal config edit --timezone {{ spinnaker_timezone }}

- name: Override base URL for Security UI
  ansible.builtin.command: >-
    /usr/local/bin/hal config security ui edit \
    --override-base-url http://{{ node_ip }}:9000

- name: Override base URL for Security API
  ansible.builtin.command: >-
    /usr/local/bin/hal config security api edit \
    --override-base-url http://{{ node_ip }}:8084

- name: Configure CORS Access Pattern for Security API
  ansible.builtin.command: >-
    /usr/local/bin/hal config security api edit \
    --cors-access-pattern http://{{ node_ip }}

- name: Configure Minio S3 Storage backend in Halyard
  ansible.builtin.shell: >-
    echo {{ minio_secret_key.stdout }} | \
    /usr/local/bin/hal config storage s3 edit --endpoint http://127.0.0.1:9090 \
    --access-key-id {{ minio_access_key.stdout }} \
    --secret-access-key

- name: Set Minio S3 as Storage backend in Halyard
  ansible.builtin.shell: >-
    /usr/local/bin/hal config storage edit --type s3

- name: Ensure that /home/spinnaker/.hal/default/service-settings exists
  ansible.builtin.file:
    path: /home/spinnaker/.hal/default/service-settings
    state: directory
    owner: spinnaker
    group: spinnaker
    mode: 0755

- name: Expose Spinnaker services on all interfaces
  ansible.builtin.template:
    src: ../templates/public.yml.j2
    dest: "/home/spinnaker/.hal/default/service-settings/{{ item }}.yml"
    owner: spinnaker
    group: spinnaker
    mode: 0644
  loop:
    - gate
    - deck
