---
- name: Add an apt signing key for spinnaker-community repo
  ansible.builtin.apt_key:
    url: https://us-apt.pkg.dev/doc/repo-signing-key.gpg
    state: present
    keyring: /usr/share/keyrings/spinnaker-community.gpg

- name: Add spinnaker-community apt repository
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/spinnaker-community.gpg] https://us-apt.pkg.dev/projects/spinnaker-community apt main
    state: present
    filename: spinnaker-community

- name: Get Ubuntu version
  ansible.builtin.shell: >-
    lsb_release -r | awk {'print $2'}
  register: ubuntu_version

- name: Add PPA repository for JDK 11 on Ubuntu 16.04
  ansible.builtin.apt_repository:
    repo: ppa:openjdk-r/ppa
  when: ubuntu_version.stdout_lines[0] == '16.04'

- name: Install Java
  ansible.builtin.apt:
    name: openjdk-11-jre-headless
    state: present

- name: Install Halyard
  ansible.builtin.apt:
    name: spinnaker-halyard
    state: latest

- name: Wait for Halyard service to start
  ansible.builtin.pause:
    seconds: 15

- name: Create group
  ansible.builtin.group:
    name: spinnaker
    state: present

- name: Create Spinnaker user
  ansible.builtin.user:
    name: spinnaker
    comment: Spinnaker
    groups: spinnaker
    shell: /bin/bash
- name: Set Spinnaker version in Halyard
  ansible.builtin.command: >-
    /usr/local/bin/hal config version edit --version {{ spinnaker_version }}

- name: Override base URL for Security UI
  ansible.builtin.command: >-
    /usr/local/bin/hal config security ui edit \
    --override-base-url http://{{ node_ip }}:9000

- name: Override base URL for Security API
  ansible.builtin.command: >-
    /usr/local/bin/hal config security api edit \
    --override-base-url http://{{ node_ip }}:8084

- name: Configure CORS Access Pattern for Security API
  ansible.builtin.command: >-
    /usr/local/bin/hal config security api edit \
    --cors-access-pattern http://{{ node_ip }}

- name: Include task to install Minio and configure it as the storage backend
  ansible.builtin.include_tasks: includes/install_minio.yml

- name: Configure Minio S3 Storage backend in Halyard
  ansible.builtin.shell: >-
    echo {{ minio_secret_key.stdout }} | hal config storage s3 edit --endpoint http://127.0.0.1:9090 \
    --access-key-id {{ minio_access_key.stdout }} \
    --secret-access-key {{ minio_secret_key.stdout }}

- name: Set Minio S3 as Storage backend in Halyard
  ansible.builtin.shell: >-
    /usr/local/bin/hal config storage edit --type s3

- name: Ensure that /home/spinnaker/.hal/default/service-settings exists
  ansible.builtin.file:
    path: /home/spinnaker/.hal/default/service-settings
    state: directory
    owner: spinnaker
    group: spinnaker
    mode: 0755

- name: Expose Spinnaker services on all interfaces
  ansible.builtin.template:
    src: ../templates/public.yml.j2
    dest: "/home/spinnaker/.hal/default/service-settings/{{ item }}.yml"
    owner: spinnaker
    group: spinnaker
    mode: 0644
  loop:
    - gate
    - deck

- name: Apply Halyard Deployment
  ansible.builtin.command: >-
    /usr/local/bin/hal deploy apply

- name: Connect Halyard Deployment
  ansible.builtin.command: >-
    /usr/local/bin/hal deploy connect

# These last two tasks are an ugly hack due to the Github issue:
# https://github.com/spinnaker/spinnaker/issues/6706
- name: Wait for Halyard Deployment
  ansible.builtin.pause:
    seconds: 60

- name: Restart front50 which fails to start after deployment
  ansible.builtin.systemd:
    name: front50
    state: restarted
    enabled: yes
    daemon_reload: yes