---
- name: Add an apt signing key for spinnaker-community repo
  ansible.builtin.apt_key:
    url: https://us-apt.pkg.dev/doc/repo-signing-key.gpg
    state: present
    keyring: /usr/share/keyrings/spinnaker-community.gpg

- name: Add spinnaker-community apt repository
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/spinnaker-community.gpg arch=all] https://us-apt.pkg.dev/projects/spinnaker-community apt main
    state: present
    filename: spinnaker

- name: Install Java
  ansible.builtin.apt:
    name: openjdk-11-jre-headless
    state: present

- name: Install Halyard
  ansible.builtin.apt:
    name: "spinnaker-halyard={{ halyard_version }}"
    state: present

- name: Wait for Halyard service to start
  ansible.builtin.pause:
    seconds: 15

# TODO: Remove when PR is merged to fix this
- name: Create Spinnaker user home directory
  ansible.builtin.user:
    name: spinnaker
    create_home: yes
