---
- hosts: all
  become: true

  environment:
    JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64
    PATH: "{{ ansible_env.PATH }}:/usr/lib/jvm/java-11-openjdk-amd64/bin"
    TERM: vt100

  vars:
    spinnaker_storage_type: minio
    spinnaker_user: spinnaker
    spinnaker_group: spinnaker
    jvm_path: /usr/lib/jvm/java-11-openjdk-amd64/bin

  tasks:
    - name: Include task to install packages that enable apt over HTTPS
      ansible.builtin.include_tasks: includes/apt_over_https.yml

    - name: Include task to install useful packages
      ansible.builtin.include_tasks: includes/install_useful_packages.yml

    - name: Include task to install Docker
      ansible.builtin.include_tasks: includes/install_docker.yml

    - name: Include task to install Spinnaker
      ansible.builtin.include_tasks: includes/install_spinnaker.yml