window.spinnakerSettings.version = '{{ spinnaker_version }}';
window.spinnakerSettings.authEnabled = true;
window.spinnakerSettings.gateUrl = '/api/v1';
window.spinnakerSettings.authEndpoint = '/api/v1/auth/user';
