apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://github.com/spinnaker/spinnaker.git/spinnaker-kustomize?ref=spinnaker-release-{{ spinnaker_version }}
namespace: spinnaker

images:
- name: ghcr.io/spinnaker/clouddriver
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/deck
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/echo
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/fiat
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/front50
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/gate
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/igor
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/kayenta
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/keel
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/orca
  newTag: {{ spinnaker_version }}
- name: ghcr.io/spinnaker/rosco
  newTag: {{ spinnaker_version }}

configMapGenerator:
- behavior: merge
  name: spinnaker
  files:
  - files/spinnaker.yml
- behavior: merge
  name: clouddriver
  files:
  - files/clouddriver-local.yml
- behavior: merge
  name: front50
  files:
  - files/front50-local-k8s.yml

# Disable non-essential services to reduce resource usage
patches:
- target:
    kind: Deployment
    name: kayenta
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 0
- target:
    kind: Deployment
    name: keel
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 0
- target:
    kind: Ingress
    name: spinnaker-ingress
  patch: |-
    - op: remove
      path: /spec/rules/0/host
